@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color_dark: hsl(252,30%, 17%);
    --color_light: hsl(252,30%, 95%);
    --color_white: rgb(255, 255, 255);
    --color_gray: hsl(252,15%, 65%);
    --color_primary: hsl(252,75%, 60%);
    --color_secondary: hsl(252,100%, 90%);
    --color_success: hsl(120,95%, 65%);
    --color_danger: hsl(0,95%, 65%);
    --color_dark: hsl(252,30%, 17%);
    --color_black: hsl(252,30%, 10%);

    --border_radius: 2rem;
    --card_border_radius: 1rem;
    --btn_padding: 0.6rem 2rem;
    --search_padding: 0.6rem 1rem;
    --card_padding: 1rem;

    --sticky_top_left: 5.4rem;
    --sticky_top_right: -18rem;
    
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: "poppins", sans-serif;
    color: var(--color_dark);
    background: var(--color_light);
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

/* general styles */

.container{
    width: 80%;
    margin: 0 auto;

}

.profile_picture {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: inline-block;
    width: 100%;
}

.btn {display: inline-block;
    padding: var(--btn_padding);
    font-weight: 500;
    border-radius: var(--border_radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn_primary {
    background: var(--color_primary);
    color: white;
}

.text_bold {
    font-weight: 500;
}

.text_muted {
    color: var(--color_gray);
}

/* ========================== NAV BAR ============================ */

nav {
    width: 100%;
    background: var(--color_white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container h2 > span {
    color: var(--color_primary);
}

.search_bar {
    background: var(--color_light);
    border-radius: var(--border_radius);
    padding: var(--search_padding);
}

.search_bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color_dark);
}

nav .search_bar input[type="search"]::placeholder {
    color: var(--color_gray);
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* ========================== MAIN ============================ */
main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 16vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

/* ========================== LEFT ============================ */
main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky_top_left);
}

main .container .left .profile {
    padding: var(--card_padding);
    background: var(--color_white);
    border-radius: var(--card_border_radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

/* ========================== sidebar ============================ */
.left .sidebar {
    margin-top: 1rem;
    background: var(--color_white);
    border-radius: var(--card_border_radius);
}

.left .sidebar .menu_item {
    display: flex;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu_item:hover {
    background: var(--color_light);
}

.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color_gray);
    margin-left: 2rem; 
    position: relative;
}

.left .sidebar i .notif_count {
    background: var(--color_danger);
    color: var(--color_white);
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.3rem;
    position: absolute;
    left: -0.6rem;
    top: -0.3rem;
}

.left .sidebar h3 {
    margin: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active {
    background: var(--color_light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
    color: var(--color_primary);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color_primary);
}

.left .sidebar .menu_item:first-child.active {
    border-top-left-radius: var(--card_border_radius);
    overflow: hidden;
}

.left .sidebar .menu_item:last-child.active {
    border-bottom-left-radius: var(--card_border_radius);
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/* ========================== Notification popup ============================ */
.left .notif_popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color_white);
    border-radius: var(--card_border_radius);
    padding: var(--card_padding);
    box-shadow: 0 0 2rem hsl(var(--color_primary), 75%, 60%, 25%);
    z-index: 8;
    display: none;
}

.left .notif_popup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color_white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left .notif_popup > div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notif_popup small {
    display: block;
}

/* ========================== Middle ============================ */
.middle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.middle .stories .story {
    padding: var(--card_padding);
    border-radius: var(--card_border_radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.middle .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    position: absolute;
    bottom: 0;
}

.middle .stories .story .name {
    z-index: 2;
}

.middle .story .profile_picture {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--color_primary);
    align-self: center;

}

.middle .stories .story:nth-child(1) {
    background: url(./images/feed_04.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(2) {
    background: url(./images/feed_13.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(3) {
    background: url(./images/feed_03.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(4) {
    background: url(./images/feed_12.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(5) {
    background: url(./images/feed_09.jpg) no-repeat center center/cover;
}

.middle .create_post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background: var(--color_white);
    padding: 0.4rem var(--card_padding);
    border-radius: var(--border_radius);
}


.middle .create_post input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color_dark);
    margin-right: 1rem;
}

/* ========================== FEEDS ============================ */
.middle .feeds .feed {
    background: var(--color_white);
    border-radius: var(--card_border_radius);
    padding: var(--card_padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
}

.middle .feed .photo {
    border-radius: var(--card_border_radius);
    overflow: hidden;
    margin: 0.7rem 0;
    max-height: 30rem;
}

.middle .feed .photo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.middle .feed .action_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
    cursor: pointer;
}

.middle .liked_by {
    display: flex;
    margin-left: 0.5rem;
}

.middle .liked_by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color_white);
    margin-left: -0.6rem;
}

.middle .liked_by span:first-child {
    margin: 0;
}

.middle .liked_by p{
    margin-left: 0.5rem;
}

.middle .caption,
.middle .comments {
    margin-left: 0.5rem;
}

/* ========================== Right ============================ */
main .container .right {
    height: max-content;
    position: sticky;
    top: var(--sticky_top_right);
    bottom: 0;
}

.right .messages {
    background: var(--color_white);
    border-radius: var(--card_border_radius);
    padding: var(--card_padding);
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .search_bar {
    display: flex;
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 0;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color_light);
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

.right .messages .category .active {
    border-color: var(--color_dark);
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .messages .msg_requests {
    color: var(--color_primary);
}

.right .message .profile_picture {
    position: relative;
    overflow: visible;
}

.right .profile_picture img {
    border-radius: 50%;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message p {
    font-size: 0.8rem;
}

.right .messages .message .profile_picture .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color_white);
    background: var(--color_success);
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.right .friend_requests{
    margin-top: 1rem;
}

.right .friend_requests h4 {
    color: var(--color_gray);
    margin: 1rem 0;
}

.right .request {
    background: var(--color_white);
    padding: var(--card_padding);
    border-radius: var(--card_border_radius);
    margin-bottom: 0.7rem;
}

.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.right .request .action {
    display: flex;
    gap: 1rem;
    justify-content: center;
}




/* ========================== Custom theme ============================ */
.custom_theme {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    display: grid;
    place-items: center;
    display: none;
}

.custom_theme .card {
    background: var(--color_white);
    padding: 3rem;
    border-radius: var(--card_border_radius);
    width: 50%;
}

/* ========================== Theme Font size ============================ */
.custom_theme .font_size {
    margin-top: 5rem;
}

.custom_theme .font_size > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color_light);
    padding: var(--search_padding);
    border-radius: var(--card_border_radius);
}

.custom_theme .choose_size {
    background: var(--color_secondary);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom_theme .choose_size span {
    width: 1rem;
    height: 1rem;
    background: var(--color_secondary);
    border-radius: 50%;
    cursor: pointer;
}

.custom_theme .choose_size span.active{
    background: var(--color_primary);
}

/* ========================== Theme color ============================ */
.custom_theme .color {
    margin-top: 2rem;
}

.custom_theme .choose_color {
    background: var(--color_light);
    padding: var(--card_padding);
    border-radius: var(--card_border_radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom_theme .choose_color span {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.custom_theme .choose_color span:nth-child(1) {
    background: hsl(252,75%, 60%);
}
.custom_theme .choose_color span:nth-child(2) {
    background: hsl(52,75%, 60%);
}
.custom_theme .choose_color span:nth-child(3) {
    background: hsl(352,75%, 60%);
}
.custom_theme .choose_color span:nth-child(4) {
    background: hsl(152,75%, 60%);
}
.custom_theme .choose_color span:nth-child(5) {
    background: hsl(22,75%, 60%);
}

.custom_theme .choose_color span.active {
    border: 5px solid white;
}

/* ========================== Theme Background ============================ */
.custom_theme .background {
    margin-top: 2rem;
}

.custom_theme .choose_bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.custom_theme .choose_bg > div {
    padding: var(--card_padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

.custom_theme .choose_bg > div.active {
    border: 2px solid var(--color_primary);
}

.custom_theme .choose_bg .bg_1 {
    background: white;
    color: black;
}
.custom_theme .choose_bg .bg_2 {
    background: hsl(252, 30%, 17%);
    color: white;
}
.custom_theme .choose_bg .bg_3 {
    background: hsl(252, 30%, 10%);
    color: white;
}

.custom_theme .choose_bg > div span {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid var(--color_gray);
    margin-right: 1rem;
}

/* ========================== Tablet, small laptops ============================ */
@media screen and (max-width: 1200px) {

    .container {
        width: 96%;
    }

    main .container{
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }

    .left {
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profile {
        display: none;
    }

    .sidebar h3 {
        display: none;
    }

    .left .btn {
        display: none;
    }

    .left .notif_popup {
        position: absolute;
        top: 0;
        left: 110%;
        width: 24rem;
        display: none;
    }

    .left .notif_popup .notif_body {
        font-size: small;
    }

    .right .request .action {
        justify-content: center;
    }

    .right .request .btn {
        padding: 0.6rem 1rem;
    }

    .right .request h5,
    .right .request p {
        font-size: small;
    }

    .custom_theme .choose_bg > div {
        padding: 0.5rem;
    }

    .custom_theme .choose_bg > div span {
        width: 1rem;
        height: 1rem;
    }
    
}

/* ========================== Phones ============================ */
@media screen and (max-width: 768px) {
    nav .search_bar {
        display: none;
    }

    main .container {
        grid-template-columns: 0 auto 5rem;
    }

    main .container .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    main .container .left .profile {
        display:  none;
    }

    .left .notif_popup::before {
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }

    main .container .left .sidebar > div h3{
        display: none;
    }

    main .container .middle {
        grid-column: 1/3;
    }

    main .container .right {
        display: none;
    }
    
    .middle .feed .photo {
        max-height: 22rem;
    }

    nav {
        box-shadow: 0px 0.5px 20px var(--color_primary);
    }

    nav .container {
        direction: rtl;
        display: inline-flex;
    }

    nav .create .btn{
        display: none;
    }

    nav .container .profile_picture {
        margin-left: 1rem;
    }

    nav .container .log {
        align-self: center;
        margin-right: 30%;
    }

    .left .notif_popup {
        display: none;
    }

    .custom_theme h2 {
        font-size: medium;
    }

    .custom_theme p {
        font-size: small;
    }

    .custom_theme .font_size .choose_size > span{
        width: 0.5rem;
        height: 0.5rem;
        margin: 0 0.12rem;
    }

    .custom_theme .choose_color span {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    .custom_theme .choose_bg {
        gap: 0.5rem;
        align-items: center;
    }

    .custom_theme .choose_bg{
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .custom_theme .choose_bg > div {
        padding: 0.2rem;
    }

    .custom_theme .choose_bg h5 {
        display: none;
    }

    .custom_theme .choose_bg > div span {
        /* display: none; */
        width: 1rem;
        height: 1rem;
    }


}